In [1]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout , Flatten
from keras.utils import np_utils
from sklearn import preprocessing
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Dense, Activation , LSTM , Dropout , AveragePooling3D
import pandas as pd
import numpy as np
import os
from glob import glob
import itertools
import fnmatch
import random
import matplotlib.pylab as plt
import seaborn as sns
import cv2
import sklearn
from sklearn import model_selection
from sklearn.model_selection import train_test_split, KFold, cross_val_score, StratifiedKFold, learning_curve, GridSearchCV
from sklearn.metrics import confusion_matrix, make_scorer, accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
import keras
from keras import backend as K
from keras.callbacks import Callback, EarlyStopping, ReduceLROnPlateau, ModelCheckpoint
from keras.preprocessing.image import ImageDataGenerator
from keras.utils.np_utils import to_categorical
from keras.models import Sequential, model_from_json
from keras.optimizers import SGD, RMSprop, Adam, Adagrad, Adadelta
from keras.applications import VGG16
from keras.layers import Dense, Dropout, Activation, Flatten, BatchNormalization, Conv2D, MaxPool2D, MaxPooling2D
from sklearn.metrics import auc,roc_curve
from sklearn.metrics import confusion_matrix
from sklearn.externals import joblib
from sklearn.metrics import classification_report
from keras.models import Model
import pandas as pd

Using TensorFlow backend.

In [2]:
path="C:/Users/Krishna Veer Singh/Downloads/MU.csv"
df=pd.read_csv(path,header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,609,610,611,612,613,614,615,616,617,618
0,978111,132669,MU,TP9,6,459,475,978111\t132669\tMU\tTP9\t6\t459\t475,474,477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,978112,132669,MU,FP1,6,459,468,978112\t132669\tMU\tFP1\t6\t459\t468,487,493,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,978113,132669,MU,FP2,6,459,482,978113\t132669\tMU\tFP2\t6\t459\t482,475,490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,978114,132669,MU,TP10,6,459,470,978114\t132669\tMU\tTP10\t6\t459\t470,470,478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,978115,132670,MU,TP9,7,493,506,978115\t132670\tMU\tTP9\t7\t493\t506,499,495,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df=df.drop([0,1,2,3,5,6,7], axis = 1)
df.head()

,4,8,9,10,11,12,13,14,15,16,...,609,610,611,612,613,614,615,616,617,618
0,6,474,477,486,486,476,479,483,489,483,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,487,493,493,498,493,491,490,492,487,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6,475,490,500,485,470,470,482,490,484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,470,478,489,487,475,469,478,488,483,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,499,495,491,492,507,496,500,498,496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
l=df.isnull().sum()
c=0
for i in l:
  c=c+1
  if(i!=0):
    break
print(c)

409

In [5]:
print(l[407:410])

414      0
415    312
416    312
dtype: int64

In [6]:
l=[415+i for i in range(204)]
x=df.drop(l+[4],axis=1)
y=df[4]
print(x.head())
print(y.head())

   8    9    10   11   12   13   14   15   16   17   ...  405  406  407  408  \
0  474  477  486  486  476  479  483  489  483  482  ...  523  516  515  511
1  487  493  493  498  493  491  490  492  487  483  ...  509  510  510  510
2  475  490  500  485  470  470  482  490  484  478  ...  506  506  502  499
3  470  478  489  487  475  469  478  488  483  474  ...  514  525  518  507
4  499  495  491  492  507  496  500  498  496  499  ...  512  511  512  523

   409  410  411  412  413  414
0  515  517  521  513  509  527
1  511  511  514  514  506  508
2  503  497  502  500  499  504
3  503  521  528  514  506  519
4  511  505  509  515  509  509

[5 rows x 407 columns]
0    6
1    6
2    6
3    6
4    7
Name: 4, dtype: int64

In [7]:
x.shape

(163932, 407)

In [8]:
y.shape

(163932,)

In [9]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
x=df

D:\E\anaconda\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [10]:
from scipy.fftpack import fft, ifft

In [11]:
x = fft(x)
x=abs(x)

In [12]:
from sklearn.neighbors import KNeighborsClassifier

In [13]:
x_data_train, x_data_test, y_data_train, y_data_test = train_test_split(x, y, test_size=0.3, random_state=1)
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(x_data_train, y_data_train) 
y_data_pred = neigh.predict(x_data_test)
accuracy_score(y_data_test,y_data_pred)

0.2755591703944693

In [14]:
x=df

In [15]:
from sklearn.decomposition import PCA
pca = PCA(.95)

In [16]:
pca.fit(x)

PCA(copy=True, iterated_power='auto', n_components=0.95, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [17]:
x=pca.transform(x)

In [18]:
from sklearn.svm import SVC

In [19]:
clf=SVC()

In [20]:
x_data_train, x_data_test, y_data_train, y_data_test = train_test_split(x, y, test_size=0.3, random_state=1)
clf=SVC()
clf.fit(x_data_train, y_data_train) 
y_data_pred = clf.predict(x_data_test)
accuracy_score(y_data_test,y_data_pred)

D:\E\anaconda\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.26891012606750714

In [10]:
x=df

In [ ]:
x_data_train, x_data_test, y_data_train, y_data_test = train_test_split(x, y, test_size=0.3, random_state=1)
clf=SVC()
clf.fit(x_data_train, y_data_train) 
y_data_pred = clf.predict(x_data_test)
accuracy_score(y_data_test,y_data_pred)

D:\E\anaconda\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [ ]:
x=df

In [ ]:
x = fft(x)
x=abs(x)

In [ ]:
pca.fit(x)

In [ ]:
x=pca.transform(x)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
x_data_train, x_data_test, y_data_train, y_data_test = train_test_split(x, y, test_size=0.3, random_state=1)
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(x_data_train, y_data_train) 
y_data_pred = neigh.predict(x_data_test)
accuracy_score(y_data_test,y_data_pred)